<div class="mb-2 mt-3">
    <label class="h5"><strong>Datos bancarios</strong></label>
</div>

<div class="row">
    <div class="col-md-6 mb-1">
        <label>Banco:</label>
        <div class="d-flex justify-content-between">
            <select class="form-control" name="bank" required disabled>
                {% for bank in banks %}
                    <option {% if request.bank == bank.bank_name %}selected{% endif %}>{{ bank.bank_name }}</option>
                {% endfor %}
            </select>
            {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" %}
                <input type="checkbox" class="btn-check" id="btncheckBank" name="bankCheck" data-message="Banco">
                <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckBank" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 mb-1">
        <label>Tipo de cuenta:</label>
        <div class="d-flex justify-content-between">
            <select class="form-control" name="account_type" required disabled>
                {% for account_type in account_types %}
                    <option {% if request.accountType == account_type.account_type_name %}selected{% endif %}>{{ account_type.account_type_name }}</option>
                {% endfor %}
            </select>
            {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" %}
                <input type="checkbox" class="btn-check" id="btncheckAccountType" name="typeAccountCheck" data-message="Tipo de cuenta">
                <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckAccountType" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-1">
        <label>N° de cuenta:</label>
        <div class="d-flex justify-content-between">
            <input type="number" class="form-control" id="idBank" name="accountNumber" value="{{ request.account_number }}" required disabled>
            {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" %}
                <input type="checkbox" class="btn-check" id="btncheckAccountNumber" name="idBankCheck" data-message="N° de cuenta">
                <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckAccountNumber" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
        </div>
    </div>
    {% if include_cex %}
    <div class="col-md-6 mb-1">
        <label>N° CEX:</label>
        <div class="d-flex justify-content-between">
            <input type="number" class="form-control" id="idCex" name="cexNumber" value="{{ request.cex_number }}" required disabled>
            {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" %}
                <input type="checkbox" class="btn-check" id="btncheckCexNumber" name="cexCheck" data-message="N° Cex">
                <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckCexNumber" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>