<div class="mb-2">
    <label class="h5"><strong>Identificación</strong></label>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="requestDate">Fecha de solicitud</label>
            <input type="date" class="form-control" id="requestDate" name="requestDate" value="{{ request.request_date|date:'Y-m-d' }}" disabled>
        </div>
        <div class="form-group">
            <label for="travelerName">Nombre completo</label>
            <input type="text" class="form-control" id="travelerName" name="travelerName" value="{{ request.full_name|default:request.traveler_name }}" disabled>
        </div>
        <div class="form-group">
            <label for="idNumber">No. de identificación</label>
            <input type="number" class="form-control" id="idNumber" name="idNumber" value="{{ request.id_person }}" disabled>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="dependence">Dependencia</label>
            <select class="form-control" id="dependence" name="dependence" required disabled>
                <option value="{{ request.dependence }}" selected>{{ request.dependence }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="costCenter">Centro de costos</label>
            <select class="form-control" id="costCenter" name="costCenter" required disabled>
                <option value="{{ request.cost_center }}" selected>{{ request.cost_center }}</option>
            </select>
        </div>
    </div>
</div>