<div class="mb-2">
    <label class="h5"><strong>Identificación</strong></label>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="requestDate">Fecha de solicitud</label>
            <div class="d-flex justify-content-between">
                <input type="date" class="form-control" id="requestDate" name="requestDate" value="{{ request.request_date|date:'Y-m-d' }}" disabled>
                {% if not user.is_applicant and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                <input type="checkbox" class="btn-check" id="btncheckRequestDate">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckRequestDate" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="travelerName">Nombre completo</label>
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control" id="travelerName" name="travelerName" value="{{ request.full_name|default:request.traveler_name }}" disabled>
                {% if not user.is_applicant and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                <input type="checkbox" class="btn-check" id="btncheckTravelerName">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckTravelerName" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="idNumber">No. de identificación</label>
            <div class="d-flex justify-content-between">
                <input type="number" class="form-control" id="idNumber" name="idNumber" value="{{ request.id_person }}" disabled>
                {% if not user.is_applicant and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                <input type="checkbox" class="btn-check" id="btncheckIdNumber">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckIdNumber" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="dependence">Dependencia</label>
            <div class="d-flex justify-content-between">
                <select class="form-control" id="dependence" name="dependence" required disabled>
                    <option value="{{ request.dependence }}" selected>{{ request.dependence }}</option>
                </select>
                {% if not user.is_applicant and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                <input type="checkbox" class="btn-check" id="btncheckDependence">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckDependence" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="costCenter">Centro de costos</label>
            <div class="d-flex justify-content-between">
                <select class="form-control" id="costCenter" name="costCenter" required disabled>
                    <option value="{{ request.cost_center }}" selected>{{ request.cost_center }}</option>
                </select>
                {% if not user.is_applicant and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                <input type="checkbox" class="btn-check" id="btncheckCostCenter">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckCostCenter" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
            {% endif %}
            </div>
        </div>
    </div>
</div>