<div class="mb-2 mt-3">
    <label class="h5"><strong>Viaje</strong></label>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="destinationCity">Ciudad de destino</label>
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control" id="destinationCity" name="destinationCity" value="{{ request.destination_city }}" required disabled>
                <input type="checkbox" class="btn-check" id="btncheckDestinationCity">
                <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckDestinationCity" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5) translateY(-1px);"></i></label>
            </div>
        </div>
        <div class="form-group">
            <label for="departureDate">Fecha de salida</label>
            <div class="d-flex justify-content-between">
                <input type="date" class="form-control" id="departureDate" name="departureDate" value="{{ request.departure_date|date:'Y-m-d' }}" required disabled>
                <input type="checkbox" class="btn-check" id="btncheckDepartureDate">
                <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckDepartureDate" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5) translateY(-1px);"></i></label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="returnDate">Fecha de regreso</label>
            <div class="d-flex justify-content-between">
                <input type="date" class="form-control" id="returnDate" name="returnDate" value="{{ request.return_date|date:'Y-m-d' }}" required disabled>
                <input type="checkbox" class="btn-check" id="btncheckReturnDate">
                <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckReturnDate" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5) translateY(-1px);"></i></label>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="travelReason">Motivo del viaje</label>
    <div class="d-flex justify-content-between">
        <textarea class="form-control" id="travelReason" name="travelReason" rows="3" required disabled>{{ request.travel_reason }}</textarea>
        <input type="checkbox" class="btn-check" id="btncheckTravelReason">
        <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckTravelReason" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5) translateY(-1px);"></i></label>
    </div>
</div>