    {% load static %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>

        
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body style="background-color: #F6F7F8;">

    <header class="row pt-2 pb-4 px-4 mb-4" style="background-color: #F6F7F8;" style="margin-top: 30px;">
        <div class="col-4 position-relative">
            <div style="font-size: 2vh;" class="position-absolute top-50 start-50 translate-middle">
                ¡Bienvenido, {{request.user.first_name}}!
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-2 position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
                <a href="/" class="">
                    <i class="fas fa-sign-out-alt" style="font-size:3vh"></i>
                </a>
            </div>
        </div>
    </header>


    <body>
        <div class="row ml-2">
            <div class="col-md-3">
                <nav>
                    <div class="container mx-auto py-8 col-md-8 bg-white rounded">
                        <img src="{% static 'requests/assets/CCSA.png' %}" alt="Logo" height="50vh" class="mb-3 mt-4">
                        <p class="font-weight small p-1 mb-1 mx-2">General</p>
                        <ul class="nav flex-column text-center">
                            <li class="nav-item p-1 mb-1 mx-2">
                                <a class="nav-link btn-navigation btn btn-primary d-flex justify-content-between align-items-center text-white" href="/requests">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-wallet me-2"></i>Solicitudes
                                    </div>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                            <li class="nav-item p-1 mb-1 mx-2">
                                <a class="nav-link btn-navigation btn btn-primary d-flex justify-content-between align-items-center text-white" href="/teams">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-users me-2"></i>Equipos
                                    </div>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                            <li class="nav-item p-1 mb-1 mx-2">
                                <a class="nav-link active btn btn-navigation btn-primary d-flex justify-content-between align-items-center mb-4" href="#">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-university me-2"></i>Recordatorios
                                    </div>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <main role="main" class="col-md-7 ml-sm-auto px-4 content">
                <!-- Tu contenido va aquí -->
                {% block content %}
                {% endblock %}
            </main>
        </div>
        
    <script>
    $(document).ready(function(){
    $(".btn-navigation").hover(function(){
        $(this).removeClass("btn-primary text-white").addClass("btn-light text-dark");
        }, function(){
        $(this).removeClass("btn-light text-dark").addClass("btn-primary text-white");
    });
    });
    </script>
    </body>

    </html>