{% extends "base.html" %}
{% load static %}
{% block title %}Solicitudes{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'requests/css/detail_view.css' %}"/>

<div class="super-container">
</div>
<div class="card-container" id="card-container">
    <div class="card">
        <div><h6>{{request.status}}</h6></div>
        <h3>{{request.type}}</h3>
        <div class="traceability_container">
            <div class="circe-container">
            {% for traceability in traceabilities %}
                <div class="circle{% if forloop.first %}{% if 'RECHAZADO' in traceability.current_status %}_rejected{% else %}_last{% endif %}{% endif %}"></div>
                <div class="union_container{% if forloop.last %}_end{% endif %}">
                    <div class="union{% if forloop.last %}_end{% endif %}"></div>
                </div>
                {% endfor %}
            </div>
            <div class="states_container">
                {% for traceability in traceabilities %}
                <div class="log-container">
                    <p>{{traceability.current_status}}: {{traceabilty.involved.name}} - {{traceability.date|date:"d/m/Y"}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "search_bar.html" %}

{% endblock %}
