{% extends "base.html" %}
{% block title %}Solicitudes{% endblock %}
{% block content %}
    <div class="container">
        <h2>Solicitudes</h2>
        <div class="container">
            <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span> -->
                <input type="text"
                       id="searchBar"
                       class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default"
                       placeholder="Buscar">
                <button id="performSearchButton" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="container" style="overflow-x: auto;">
            <table id="requestsTable"  class="table table-bordered">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Solicitante</th>
                        <th>Gerente</th>
                        <th>Fecha Inicial</th>
                        <th>Fecha Final</th>
                        <th>Días Pasados</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr id="request_{{ request.id }}">
                            <td>{{ request.document }}</td>
                            <td>{{ request.applicant }}</td>
                            <td>{{ request.manager }}</td>
                            <td>{{ request.initial_date }}</td>
                            <td>{{ request.final_date }}</td>
                            <td>{{ request.past_days }}</td>
                            <td>
                                <button class="btn btn-link edit-btn" data-request-id="{{ request.id }}">
                                    <i class="fa fa-edit text-secondary"></i>
                                </button>
                                <span id="status_{{ request.id }}">{{ request.status }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal para seleccionar el nuevo estado -->
    <div class="modal fade"
         id="changeStatusModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar Estado</h5>
                </div>
                <div class="modal-body">
                    <select id="newStatusSelect" class="form-control">
                        <!-- Aquí puedes cargar opciones de estado dinámicamente si lo necesitas -->
                        <option value="EN PROCESO">En Proceso</option>
                        <option value="APROBADO - CENCO">Aprobado - Cenco</option>
                        <option value="RECHAZADO - CENCO">Rechazado - Cenco</option>
                        <option value="APROBADO - DECANO">Aprobado - Decano</option>
                        <option value="RECHAZADO - DECANO">Rechazado - Decano</option>
                        <option value="PAGADO - CONTABILIDAD">Pagado - Contabilidad</option>
                        <option value="RECHAZADO - CONTABILIDAD">Rechazado - Contabilidad</option>
                        <option value="CERRADO">Cerrado</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            id="cancelBtn">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="changeStatusBtn">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <script src="{% static 'requests/js/requests.js' %}"></script>
{% endblock %}
