<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                <strong>Fecha:</strong> {{ trace.date }}
            </p>
            <p>
                <strong>Modificado por:</strong> {{ trace.modified_by }}
            </p>
            <p>
                <strong>Estado anterior:</strong> {{ trace.prevState }}
            </p>
            <p>
                <strong>Estado actual:</strong> {{ trace.newState }}
            </p>
        </div>
    </div>
</div>
