{% extends "base.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}
    <!-- Page content -->
    <div class="container">
        <h2>Contacto</h2>
        <!-- Display messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
        {% elif message %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endif %}
        <!-- Email form -->
        <form action="/emailContact/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email" class="mt-2">Destinatario:</label>
                <select class="form-control" id="email" name="email" required>
                    <option value="">...</option>
                    {% for user in users %}
                        <option value="{{ user.email }}">{{ user.first_name }} {{ user.last_name }} &lt;{{ user.email }}&gt;</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject" class="mt-2">Asunto:</label>
                <input type="text" class="form-control" id="subject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="message" class="mt-2">Mensaje:</label>
                <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </form>
    </div>
{% endblock %}
