{% load static %}

<head>
    <style>
    @font-face {
        font-family: 'Cathylise Janetson';
        src: url('{% static "forms/fonts/Cathylise Janetson.otf" %}');
    }
    </style>
</head>

<div class="row justify-content-center" style="margin-top: 80px;">
    <div class="col-md-6 mb-1 text-center">
        <div style="border-bottom: 1px solid black;" id="signature" style="position: relative;"></div>
        <input type="hidden" id="signatureStatus" name="signatureStatus" value="No">
        <div class="d-flex justify-content-center">
            <button id="signButton" class="btn btn-primary my-2" type="button"><i class="fa fa-pen mr-2"></i> Firmar</button>
        </div>
        <div id="signature"></div>
        <input type="file" id="signatureImage" accept="image/*" style="display: none;">
        <canvas id="signatureCanvas" width="600" height="120" style="border:1px solid #000000; display: none;"></canvas>
    </div>
</div>

<!-- Scripts -->

<script src="https://unpkg.com/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../static/forms/js/sign_logic.js"></script>