<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="col-2" rowspan="2">Rubro</th>
                <th class="col-2" rowspan="2">Tercero proveedor</th>
                <th class="col-2" rowspan="2">Nit</th>
                <th class="col-2" rowspan="2">Concepto</th>
                <th class="col-3" colspan="3">Si su anticipo fue en:</th>
            </tr>
            <tr>
                <th class="col-1">Pesos colombianos ($)</th>
                <th class="col-1">Dólares ($)</th>
                <th class="col-1">Euros (€)</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td><input type="text" class="form-control" name="category_{{ forloop.counter0 }}" id="category_{{ forloop.counter0 }}" value="{{ expense.category }}" disabled required></td>
                    <td><input type="text" class="form-control" name="provider_{{ forloop.counter0 }}" id="provider_{{ forloop.counter0 }}" value="{{ expense.provider }}" disabled required></td>
                    <td><input type="text" class="form-control" name="nit_{{ forloop.counter0 }}" id="nit_{{ forloop.counter0 }}" value="{{ expense.nit }}" disabled required></td>
                    <td><input type="text" class="form-control" name="concept_{{ forloop.counter0 }}" id="concept_{{ forloop.counter0 }}" value="{{ expense.concept }}" disabled></td>
                    <td><input type="text" class="form-control" placeholder="0" name="pesos_{{ forloop.counter0 }}" id="pesos_{{ forloop.counter0 }}" value="{{ expense.pesos|floatformat:"-0" }}" disabled required></td>
                    <td><input type="text" class="form-control" placeholder="0" name="dollars_{{ forloop.counter0 }}" id="dollars_{{ forloop.counter0 }}" value="{{ expense.dollars|floatformat:"-0" }}" disabled required></td>
                    <td><input type="text" class="form-control" placeholder="0" name="euros_{{ forloop.counter0 }}" id="euros_{{ forloop.counter0 }}" value="{{ expense.euros|floatformat:"-0" }}" disabled required></td>
                </tr>
            {% endfor %}
            <tr id="totals">
                <td colspan="4" class="text-end">Total expenses:</td>
                <td><input id="total1" name="total1" type="text" class="form-control" placeholder="0" value="{{ request.total1|floatformat:"-0" }}" disabled></td>
                <td><input id="total2" name="total2" type="text" class="form-control" placeholder="0" value="{{ request.total2|floatformat:"-0" }}" disabled></td>
                <td><input id="total3" name="total3" type="text" class="form-control" placeholder="0" value="{{ request.total3|floatformat:"-0" }}" disabled></td>
            </tr>
            <tr id="advance">
                <td colspan="4" class="text-end">Advance value:</td>
                <td><input id="advanceTotal1" name="advanceTotal1" type="text" class="form-control" placeholder="0" value="{{ request.advance_total1|floatformat:"-0" }}" disabled required></td>
                <td><input id="advanceTotal2" name="advanceTotal2" type="text" class="form-control" placeholder="0" value="{{ request.advance_total2|floatformat:"-0" }}" disabled required></td>
                <td><input id="advanceTotal3" name="advanceTotal3" type="text" class="form-control" placeholder="0" value="{{ request.advance_total3|floatformat:"-0" }}" disabled required></td>
            </tr>
            <tr id="employeeBalance">
                <td colspan="4" class="text-end">Balance in favor of the employee:</td>
                <td><input id="employeeBalance1" name="employeeBalance1" type="text" class="form-control" placeholder="0" value="{{ request.employee_balance1|floatformat:"-0" }}" disabled></td>
                <td><input id="employeeBalance2" name="employeeBalance2" type="text" class="form-control" placeholder="0" value="{{ request.employee_balance2|floatformat:"-0" }}" disabled></td>
                <td><input id="employeeBalance3" name="employeeBalance3" type="text" class="form-control" placeholder="0" value="{{ request.employee_balance3|floatformat:"-0" }}" disabled></td>
            </tr>
            <tr id="icesiBalance">
                <td colspan="4" class="text-end">Balance in favor of ICESI:</td>
                <td><input id="icesiBalance1" name="icesiBalance1" type="text" class="form-control" placeholder="0" value="{{ request.icesi_balance1|floatformat:"-0" }}" disabled></td>
                <td><input id="icesiBalance2" name="icesiBalance2" type="text" class="form-control" placeholder="0" value="{{ request.icesi_balance2|floatformat:"-0" }}" disabled></td>
                <td><input id="icesiBalance3" name="icesiBalance3" type="text" class="form-control" placeholder="0" value="{{ request.icesi_balance3|floatformat:"-0" }}" disabled></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-3">
        {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" %}
            <input type="checkbox" class="btn-check" id="btncheckTable" name="tableCheck" data-message="Tabla de valores">
            <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckTable"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
        {% endif %}
    </div>
</div>