{% extends "auth-base.html" %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}

<div class="card border-0 px-2 mx-auto mt-3 mb-3 shadow"
        style="background-color: #f6f7f8">
    <div class="mx-auto mb-4">
        <img src="{% static 'login/assets/logo.png' %}"
                alt="logo"
                class="img-fluid"
                width="350px"
                height="50px">
    </div>
    <h3 class="text-center fw-bold fs-2 ">Cambio de contraseña</h3>
    <div class="card-body">
        <div class="d-flex justify-content-center text-center mb-4">
            <span class="container">Por favor, ingrese su nueva contraseña.</span>
        </div>
        <form action="{% url 'login:change_password_view' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <span class="input-identifier">INGRESA LA NUEVA CONTRASEÑA</span>
                <div class="input-group flex-nowrap">
                    <div class="input-group-text">
                        <i class="fa fa-lock icon"></i>
                    </div>
                    <input type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required>
                </div>
                <span class="input-identifier">REPITE LA CONTRASEÑA</span>
                <div class="input-group flex-nowrap">
                    <div class="input-group-text">
                        <i class="fa fa-lock icon"></i>
                    </div>
                    <input type="password"
                            class="form-control"
                            id="confirmPassword"
                            name="confirmPassword"
                            required>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-2 mb-2">Continuar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}