{% extends "auth-base.html" %}
{% load static %}
{% block title %}Recuperación de Contraseña{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                role="alert">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% with title="Recuperación de contraseña" description="Por favor, ingrese su cédula para iniciar el proceso de restablecimiento de contraseña." input_label="CÉDULA" action_url="login:reset_password_view" input_id="userId" input_name="userId" %}
        {% include 'components/email_verification_component.html' %}
    {% endwith %}
{% endblock %}