body {
    font-family: "Inter", sans-serif;
}

.overflow-hidden {
    overflow: hidden;
}
  
.background-image {
    background-image: url('../../general/media/icesi_quality_background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}