body {
    font-family: "Inter", sans-serif;
}

.background-waves {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto
}

.login-gradient {
    position: relative;
    background-image: radial-gradient(circle, #0e9aef, #00599c,#0f4176);
    z-index: 0;
}

.input-identifier {
    color: #888;
    font-weight: bold;
    font-size: small;
}