<div class="mb-2 mt-3">
    <label class="h5"><strong>Viaje</strong></label>
</div>
<div class="row mb-4">
    <div class="col-md-6">
        <div class="form-group">
            <label for="destinationCity">Ciudad de destino</label>
            <select class="form-control" id="destinationCity" name="destinationCity" required>
                <option value="">Selecciona una opción</option>
                {% for city in cities %}
                    {% with city_name_and_country=city.city_name|add:" ("|add:city.country_name|add:") "|add:city.country_code %}
                        <option value="{{ city_name_and_country }}" {% if form_data.destinationCity == city_name_and_country %}selected{% endif %}>{{ city_name_and_country }}</option>
                    {% endwith %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="departureDate">Fecha de salida</label>
            <input type="date" class="form-control" id="departureDate" name="departureDate" value="{{ form_data.departureDate }}" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="returnDate">Fecha de regreso</label>
            <input type="date" class="form-control" id="returnDate" name="returnDate" value="{{ form_data.returnDate }}" required>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="travelReason">Motivo del viaje</label>
    <textarea class="form-control" id="travelReason" name="travelReason" rows="3" maxlength="200" required>{{ form_data.travelReason }}</textarea>
</div>