<div class="mb-2 mt-3">
    <label class="h5"><strong>Datos bancarios</strong></label>
</div>

<div class="row">
    <div class="col-md-6 mb-1">
        <label>Banco:</label>
        <select class="form-control" name="bank" required disabled>
            <option value="{{ request.bank }}" selected>{{ request.bank }}</option>
        </select>
    </div>
    <div class="col-md-6 mb-1">
        <label>Tipo de cuenta:</label>
        <select class="form-control" name="accountType" required disabled>
            <option value="{{ form_data.accountType }}" selected>{{ request.account_type }}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-1">
        <label>N° de cuenta:</label>
        <input type="number" class="form-control" id="idBank" name="accountNumber" value="{{ request.account_number }}" required readonly>
    </div>
    {% if include_cex %}
    <div class="col-md-6 mb-1">
        <label>N° CEX:</label>
        <input type="number" class="form-control" id="idCex" name="cexNumber" value="{{ request.cex_number }}" required readonly>
    </div>
    {% endif %}
</div>