<div class="mb-2">
    <label class="h5"><strong>Identificación</strong></label>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="requestDate">Fecha de solicitud</label>
            <div class="d-flex justify-content-between">
                <input type="date" class="form-control" id="requestDate" name="requestDate" value="{{ request.request_date|date:'Y-m-d' }}" disabled>
                {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                    <input type="checkbox" class="btn-check" id="btncheckRequestDate" name="dateCheck" data-message="Fecha de solicitud">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckRequestDate" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="fullName">Nombre completo</label>
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control" id="fullName" name="fullName" value="{{ request.fullname|default:request.fullname }}" disabled>
                {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                    <input type="checkbox" class="btn-check" id="btncheckfullName" name="nameCheck" data-message="Nombre completo">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckfullName" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="idNumber">No. de identificación</label>
            <div class="d-flex justify-content-between">
                <input type="number" class="form-control" id="idNumber" name="idNumber" value="{{ request.id_person }}" disabled>
                {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                    <input type="checkbox" class="btn-check" id="btncheckIdNumber" name="idCheck" data-message="No. de identificación">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckIdNumber" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="dependence">Dependencia</label>
            <div class="d-flex justify-content-between">
                <select class="form-control" id="dependence" name="dependence" required disabled>
                    {% for dependence in dependences %}
                        <option value="{{ dependence.dependence_name }}" {% if request.dependence == dependence.dependence_name %}selected{% endif %}>{{ dependence.dependence_name }}</option>
                    {% endfor %}
                </select>
                {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                    <input type="checkbox" class="btn-check" id="btncheckDependence" name="dependenceCheck" data-message="Dependencia">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckDependence" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="costCenter">Centro de costos</label>
            <div class="d-flex justify-content-between">
                <select class="form-control" id="costCenter" name="cost_center" required disabled>
                    {% for cost_center in cost_centers %}
                        <option value="{{ cost_center.cost_center_name }}" {% if request.costCenter == cost_center.cost_center_name %}selected{% endif %}>{{ cost_center.cost_center_name }}</option>
                    {% endfor %}
                </select>
                {% if not user.is_applicant and not user.is_superuser and request.status == "EN REVISIÓN" and request.is_reviewed == False %}
                    <input type="checkbox" class="btn-check" id="btncheckCostCenter" name="costsCheck" data-message="Centro de costos">
                    <label class="btn btn-outline-primary col-1 d-flex align-items-center" for="btncheckCostCenter" style="margin-left: 5px;"><i class="bi bi-check" style="transform: scale(1.5)"></i></label>
                {% endif %}
            </div>
        </div>
    </div>
</div>