<div class="my-2 mx-2 border-bottom border-3"></div>

<h3>Resultados de revisión</h3>
<p id="uncheckedMessages" style="display: none;"></p>
<textarea id="reason" class="form-control mt-3" rows="3" style="display: none;" maxlength="200" name="reasonData" placeholder="Por favor, ingrese el motivo por el cual no marcó todas las casillas."></textarea>

<style>
    .swal-button--confirm {
        background-color: #4CAF50 !important;
    }
</style>

<script>
    $(document).ready(function() {
        var allChecked = false;
        var textbox;
        var messages, textMessages;
        function checkCheckboxes() {
            var unchecked = $('input[type="checkbox"]:not(:checked)');
            messages = unchecked.map(function() {
                return "- " + $(this).attr('data-message');
            }).get().join('<br>');
            textMessages = unchecked.map(function() {
                return $(this).attr('data-message');
            }).get().join(', ');

            if (unchecked.length > 0) {
                $('#uncheckedMessages').html('Por favor, marque todos los campos que considere válidos. Los siguientes elementos no están marcados: <br><br>' + messages);
                $('#reason').prop('required', true);
                $('#uncheckedMessages').show();
                $('#reason').show();
                $('#completeReview').hide();
                $('#returnReview, #rejectReview').show();
            } else {
                $('#uncheckedMessages').html('Todos los elementos han sido marcados correctamente.');
                $('#reason').prop('required', false);
                $('#uncheckedMessages').show();
                $('#reason').hide();
                $('#completeReview').show();
                $('#returnReview, #rejectReview').hide();
            }
        }

        $('#markAll').click(function() {
            allChecked = !allChecked;
            $('input:checkbox').prop('checked', allChecked);
            if (allChecked) {
                document.getElementById('markAll').innerHTML = 'Desmarcar todos';
                if (textbox) {
                    textbox.remove();
                    textbox = null;
                }
            } else {
                document.getElementById('markAll').innerHTML = 'Marcar todos';
                if (!textbox) {
                    textbox = document.createElement('textarea');
                    textbox.placeholder = 'Por favor, marque todos los checkbox antes de completar la revisión.';
                    document.body.appendChild(textbox);
                }
            }

            checkCheckboxes();
        });

        checkCheckboxes();

        $(document).on('change', 'input[type="checkbox"]', checkCheckboxes);
        
        function confirmAction(action) {
            swal({
                title: "¿Estás seguro?",
                text: "¿Estás seguro de que quieres " + action + " esta solicitud?",
                icon: "warning",
                buttons: {
                    cancel: "Cancelar",
                    confirm: "Confirmar"
                },
                dangerMode: true,
            })
            .then((willConfirm) => {
                if (willConfirm) {
                    var csrftoken = $('[name=csrfmiddlewaretoken]').val();
                    var id = $('#request_id').val();
                    var newStatus;
                    var reason = $('#reason').val();
                    if (action === 'enviar a Ventanilla Única') {
                        newStatus = 'POR APROBAR';
                        reason = 'Enviado a Ventanilla Única, en espera de aprobación.';
                    } else if (action === 'devolver') {
                        newStatus = 'DEVUELTO';
                        reason = "Se ha devuelto el formulario, puede corregirlo en la sección de solicitudes y enviarlo nuevamente"
                    } else if (action === 'rechazar') {
                        newStatus = 'RECHAZADO';
                        reason = "El miembro/administrador de la Ventanilla Única ha rechazado la solicitud";
                    }
                    $.ajax({
                        url: '/requests/change-status/' + id + '/',
                        method: 'POST',
                        data: {
                            newStatus: newStatus,
                            reason: reason,
                            csrfmiddlewaretoken: csrftoken
                        },
                        success: function (response) {
                            window.location.href = "/requests/?changeStatusDone";
                        },
                        error: function (xhr, status, error) {
                            window.location.href = "/requests/?changeStatusFailed";
                        }
                    });
                }
            });
        }

        $('#completeReview').click(function() {
            confirmAction('enviar a Ventanilla Única');
        });

        $('#returnReview').click(function() {
            confirmAction('devolver');
        });

        $('#rejectReview').click(function() {
            confirmAction('rechazar');
        });
    });
</script>

<!-- Botones -->
<div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-primary mr-2" id="markAll">Marcar todo</button>
    <button type="button" class="btn btn-success mr-2" id="completeReview">Enviar a aprobación</button>
    <button type="button" class="btn btn-warning mr-2" id="returnReview">Devolver</button>
    <button type="button" class="btn btn-danger" id="rejectReview">Rechazar</button>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

