<div class="mb-2 mt-3">
    <label class="h5"><strong>Viaje</strong></label>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="destinationCity">Ciudad de destino</label>
            <input type="text" class="form-control" id="destinationCity" name="destinationCity" value="{{ request.destination_city }}" required readonly>
        </div>
        <div class="form-group">
            <label for="departureDate">Fecha de salida</label>
            <input type="date" class="form-control" id="departureDate" name="departureDate" value="{{ request.departure_date|date:'Y-m-d' }}" required readonly>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="returnDate">Fecha de regreso</label>
            <input type="date" class="form-control" id="returnDate" name="returnDate" value="{{ request.return_date|date:'Y-m-d' }}" required readonly>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="travelReason">Motivo del viaje</label>
    <textarea class="form-control" id="travelReason" name="travelReason" rows="3" required readonly>{{ request.travel_reason }}</textarea>
</div>