{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{% block content %}

<!--Title-->

<div class="d-flex justify-content-between">
    <div>
        <h2 class="mb-4">Requisición</h2>
    </div>
</div>

<!-- Announcement -->

<p class="font-italic"><strong>Por favor tenga en cuenta lo
        siguiente:</strong></p>
<ol>
    <li>En el caso de reintegro los soportes deben venir a nombre de la Universidad Icesi Nit. 890.316.745-5. Documento sin este requisito, será rechazado en la legalización.</li>
    <li>Este formato lo podrá utilizar en diferentes solicitudes. Despliegue la pestaña de conceptos que está en el formato para conocer las opciones; si el concepto que va a utilizar no esta dentro de las opciones uso la opción otros</li>
    <li>Este formato se debe pasar a PDF para él envió a la oficina de contabilidad</li>
    <li>Formato de uso interno.</li>
</ol>

<div class="my-2 mx-2 border-bottom border-3"></div>

<!-- User data -->

<form>
    {{ form.csrf_token }}
    <div class="mb-2">
        <label class="h5"><strong>Datos</strong></label>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="requestDate">Fecha</label>
                <input type="date" class="form-control" id="requestDate"
                    value="{{ today }}" disabled>
            </div>
            <div class="form-group">
                <label for="travelerName">A favor de</label>
                <input type="text" class="form-control" id="travelerName" value="{{ request.user.first_name }} {{ request.user.last_name }}" disabled>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="idNumber">No. de identificación</label>
                <input type="number" class="form-control" id="idNumber" value="{{ request.user.id }}" disabled>
            </div>
            <div class="form-group">
                <label for="idNumber">Cargo</label>
                <input type="text" class="form-control" id="travelerName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="dependence">Dependencia</label>
                <select class="form-control" id="dependence">
                    <option value="">Selecciona una opción</option>
                    <option>Op1</option>
                    <option>Op2</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cenco">Cenco</label>
                <select class="form-control" id="cenco">
                    <option value="">Selecciona una opción</option>
                    <option>Op1</option>
                    <option>Op2</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="idValue">Valor</label>
                <input type="number" class="form-control" id="idValue">
            </div>
            <div class="form-group">
                <label for="idConcept">Concepto</label>
                <input type="text" class="form-control" id="travelerConcept" value="Reintegro" disabled>
            </div>
        </div>
    </div>

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!-- Description -->

    <div class="mb-2">
        <label class="h5"><strong>Descripción</strong></label>
    </div>

    <div>
        <textarea class="form-control" rows="5"></textarea>
    </div>

    <!-- Authorization -->

    <div class="row" style="margin-top: 100px;">
        <div class="col-md-6 mb-1 text-center">
            <div style="border-bottom: 1px solid black;"></div>
            <label>Nombre de quien elabora</label>
        </div>
        <div class="col-md-6 mb-1 text-center">
            <div style="border-bottom: 1px solid black;"></div>
            <label>Nombre Ordenador de Gasto</label>
        </div>
    </div>

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!-- Bank data -->

    <div class="mb-2 mt-3">
        <label class="h5"><strong>Datos bancarios</strong></label>
    </div>

    <div class="row">
        <div class="col-md-6 mb-1">
            <label>Banco:</label>
            <select class="form-control">
                <option value="">Selecciona una opción</option>
                <option>BANCOLOMBIA</option>
                <option>BANCO AGRARIO</option>
                <option>BANCO AV VILLAS</option>
                <option>BANCO CAJA SOCIAL</option>
                <option>BANCO COOPERATIVO COOPCENTRAL</option>
                <option>BANCO CREDIFINANCIERA SA.</option>
                <option>BANCO DAVIVIENDA</option>
                <option>BANCO DE BOGOTÁ</option>
                <option>BANCO DE LAS MICROFINANZAS BANCAMIA S.A.</option>
                <option>BANCO DE OCCIDENTE</option>
                <option>BANCO FALABELLA S.A.</option>
                <option>BANCO FINANDINA S.A.</option>
                <option>BANCO GNB COLOMBIA S.A</option>
                <option>BANCO GNB SUDAMERIS</option>
                <option>BANCO MUNDO MUJER</option>
                <option>BANCO PICHINCHA</option>
                <option>BANCO POPULAR</option>
                <option>BANCO PROCREDIT</option>
                <option>BANCO SANTANDER DE NEGOCIOS</option>
                <option>BANCO SERFINANZA</option>
                <option>BANCO W S.A</option>
                <option>BANCOOMEVA</option>
                <option>BANCÓLDEX S.A.</option>
                <option>BBVA</option>
                <option>BNP PARIBAS</option>
                <option>CITIBANK</option>
                <option>COLTEFINANCIERA S.A.</option>
                <option>CONFIAR</option>
                <option>COOFINEP COOPERATIVA FINANCIERA</option>
                <option>COOPERATIVA FINANCIERA DE ANTIOQUIA</option>
                <option>COTRAFA COOPERATIVA FINANCIERA</option>
                <option>Daviplata</option>
                <option>FINANCIERA JURISCOOP S.A. COMPAÑÍA DE FINANCIAMIENTO</option>
                <option>GIROS Y FINANZAS COMPAÑÍA DE FINANCIAMIENTO S.A.</option>
                <option>ITAÚ</option>
                <option>ITAÚ antes CorpBanca</option>
                <option>MIBANCO S.A.</option>
                <option>NEQUI</option>
                <option>Rappipay</option>
                <option>Scotiabank Colpatria S.A</option>
            </select>
        </div>
        <div class="col-md-6 mb-1">
            <label>Tipo de cuenta:</label>
            <select class="form-control">
                <option value="">Selecciona una opción</option>
                <option value="Ahorros">Ahorros</option>
                <option value="Corriente">Corriente</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-1">
            <label>N° de cuenta:</label>
            <input type="number" class="form-control" id="idBank">
        </div>
    </div>

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!-- Observations -->

    <div class="mb-2 mt-3">
        <label class="h5"><strong>Observaciones</strong></label>
    </div>

    <div>
        <textarea class="form-control" rows="3"></textarea>
    </div>

    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mt-3" onclick="saveForm()">Guardar y enviar</button>
    </div>
</form>

{% endblock %}