{% extends "base.html" %}
{% block title %}Solicitudes{% endblock %}
{% block content %}

<div class="d-flex justify-content-between">
    <h1>Formularios</h1>
</div>

<div class="row d-flex justify-content-between">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <label class="input-group-text" for="excel-file-input">Plantilla Excel</label>
            <input type="file" name="excel_template" class="form-control" id="excel-file-input" accept=".xlsx">
          </div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" id="save-form">
            Guardar <i class="fa fa-save"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="container col-md-8 overflow-x-scroll">
        <h4>Añadir campos</h4>
        <div id="excel-preview">
            <!-- Excel view will be here -->
        </div>
    </div>
    <div class="container col-md-4">
        <h4>Vista previa</h4>
        <div>
            <div class="card">
                <div class="card-body" id="form-preview">
                    <!-- Form preview will be here -->
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const load_listeners = () => {
        let form_fields = []
        $(".form-cell").on("click", function () {
            let row = $(this).data("row-idx");
            let col = $(this).data("col-idx");
            let form_type = prompt("Ingresa el tipo:");
            let form_label = prompt("Ingresa la etiqueta:");
            let form_name = prompt("Ingresa el nombre:");

            form_fields.push({
                "col": col,
                "row": row,
                "name": form_name,
                "type": form_type,
                "label": form_label
            })

            console.log(form_fields); // Verificar los datos que se están enviando
            let curr_cell = $(this)
            // Enviar la solicitud POST
            $.ajax({
                url: "/forms/form-preview/",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ form_fields: form_fields }),
                success: function (data) {
                    $("#form-preview").html(data)
                    console.log($(this))
                    curr_cell.addClass("selected")
                    curr_cell.addClass("bg-primary")
                    curr_cell.addClass("bg-opacity-50")
                },
                error: function (xhr, status, error) {
                    console.error(xhr, status, error);
                }
            });
        });
        $(".form-cell").hover(
            function () {
                $(this).addClass("bg-secondary text-white");
            },
            function () {
                $(this).removeClass("bg-secondary text-white");
        }
        );
        $("#save-form").on("dblclick", function() {
            $.ajax({
                type: "POST",
                url: "/forms",
                data: JSON.stringify({ "form_fields": form_fields }),
                contentType: "application/json",
                success: function(response) {
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

    }
    $(document).ready( function () {
        load_listeners()
        $("#excel-file-input").on("change", function() {
            let formData = new FormData();
            formData.append("excel_template", $(this)[0].files[0]);

            $.ajax({
                url: "/forms/load-template/",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    $("#excel-preview").html(data);
                    $("#form-preview").empty()
                    load_listeners()
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    })
</script>

{% endblock %}