{% extends "base.html" %}
{% block title %}Solicitudes{% endblock %}
{% block content %}

<div class="d-flex justify-content-between">
    <h1>Formularios</h1>
    <button class="btn btn-primary" id="save-form">
        Guardar <i class="fa fa-save"></i>
    </button>
</div>

<div class="row">
    <div class="container col-md-8">
        <h4>Añadir campos</h4>
        <table class="small table table-bordered">
            {% for row in sheet %}
            <tr>
                {% for cell in row %}
                {% if cell.display %}
                <td class="form-cell" style="cursor:pointer" id="cell-{{cell.row_idx}}-{{cell.col_idx}}" data-row-idx="{{cell.row_idx}}" data-col-idx="{{cell.col_idx}}" rowspan="{{cell.row_span}}" colspan="{{cell.col_span}}" >
                        {{ cell.value }}
                        <!-- {{ cell.row_span }} {{ cell.col_span }} {{ cell.row_idx }} {{ cell.col_idx}} {{ cell.display }} -->
                    </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container col-md-4">
        <h4>Vista previa</h4>
        <div id="form-preview">
            
        </div>
    </div>
</div>


<script>
    let fields = []
    $(document).ready( function () {
        $(".form-cell").on("click", function () {
            let row = $(this).data("row-idx")
            let col = $(this).data("col-idx")
            let form_type = prompt("ingresa el tipo: ")
            let form_label = prompt("ingresa la etiqueta: ")

            fields.push( {
                "col": col,
                "row": row,
                "type": form_type,
                "label": form_label
            } )

            console.log(fields)
        })
    })
    $(".form-cell").hover(
        function () {
            $(this).addClass("bg-secondary text-white");
        },
        function () {
            $(this).removeClass("bg-secondary text-white");
        }
    );
    $("#save-form").on("dblclick", function() {
            $.ajax({
                type: "POST",
                url: "/forms",
                data: JSON.stringify({ "fields": fields }),
                contentType: "application/json",
                success: function(response) {
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
</script>

{% endblock %}