{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{% block content %}

<!--Icons-->

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

<!--Title-->

<div class="d-flex justify-content-between">
    <div>
        <h2 class="mb-4">Legalización de gastos de viaje</h2>
    </div>
</div>

<!-- Announcement -->

<p class="font-italic"><strong>Por favor tenga en cuenta lo siguiente:</strong></p>
<ol>
    <li>Este formato se debe tramitar por ventanilla única, adjuntando los soportes</li>
    <li>Este formato debe radicarse en ventanilla única por el total de los gastos incurridos en el viaje. El formato automáticamente registra si hay saldo a favor del colaborador o saldo a favor de Icesi</li>
    <li>Todos los soportes de legalización deben venir a nombre de la Universidad Icesi Nit. 890.316.745-5. Documento sin este requisito, será rechazado en la legalización.</li>
    <li>Si hay saldo es a favor de la Universidad ICESI, se debe regresar el dinero en la caja de la Universidad o autorizar en este formato el descuento por nómina</li>
    <li>Si hay saldo a favor del colaborador, se procede a reintegrar a la cuenta de nómina</li>
    <li>Si el soporte de pago es una factura Pos, debe solicitar a la empresa la factura electrónica.</li>
    <li>Se debe legalizar en la moneda que se recibió en el anticipo (Pesos colombianos, Euros, Dólares) Si el colaborador gastó en una moneda diferente, debe pasar los gastos a la moneda original del anticipo y dejar registro del cambio de moneda.</li>
    <li>Solo utilizar la columna correspondiente a la moneda que va a legalizar</li>
    <li>Puede incluir más casillas para ítems diferentes, colocando el nombre que corresponda, reemplazando las celdas A39 en adelante; Ejemplo: Medicamentos, Ingresos a lugares de interés, sobrepeso de maleta en aerolínea, etc.</li>
    <li>Utilice este formato para legalizar el anticipo de viajes; en caso de no haber solicitado anticipo</li>
    <li>Formato de uso interno</li>
    <li>En transacciones con personas naturales debe adjuntar el Rut con fecha del año en curso</li>
</ol>

<div class="my-2 mx-2 border-bottom border-3"></div>

<!-- User data -->

<form>
    {{ form.csrf_token }}
    <div class="mb-2">
        <label class="h5"><strong>Identificación</strong></label>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="requestDate">Fecha de legalización</label>
                <input type="date" class="form-control" id="requestDate"
                    value="{{ today }}" disabled>
            </div>
            <div class="form-group">
                <label for="travelerName">Nombre del viajero</label>
                <input type="text" class="form-control" id="travelerName" value="{{ request.user.first_name }} {{ request.user.last_name }}" disabled>
            </div>
            <div class="form-group">
                <label for="idNumber">No. de identificación</label>
                <input type="number" class="form-control" id="idNumber" value="{{ request.user.id }}" disabled>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="dependence">Dependencia</label>
                <select class="form-control" id="dependence">
                    <option value="">Selecciona una opción</option>
                    <option>Op1</option>
                    <option>Op2</option>
                </select>
            </div>
            <div class="form-group">
                <label for="costCenter">Centro de costos</label>
                <select class="form-control" id="costCenter">
                    <option value="">Selecciona una opción</option>
                    <option>Op1</option>
                    <option>Op2</option>
                </select>
            </div>
        </div>
    </div>

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!-- Travel data -->

    <div class="mb-2 mt-3">
        <label class="h5"><strong>Viaje</strong></label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="destinationCity">Ciudad de destino</label>
                <input type="text" class="form-control" id="destinationCity">
            </div>
            <div class="form-group">
                <label for="departureDate">Fecha de salida</label>
                <input type="date" class="form-control" id="departureDate">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="returnDate">Fecha de regreso</label>
                <input type="date" class="form-control" id="returnDate">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="travelReason">Motivo del viaje</label>
        <textarea class="form-control" id="travelReason" rows="3"></textarea>
    </div>

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!--Spend data-->

    <div class="mb-2 mt-3">
        <label class="h5"><strong>Relación de gastos</strong></label>
    </div>

    <style>
        th {
            text-align: center;
            vertical-align: middle;
        }
    </style>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="col-2" rowspan="2">Rubro</th>
                <th class="col-2" rowspan="2">Tercero proveedor</th>
                <th class="col-2" rowspan="2">Nit</th>
                <th class="col-2" rowspan="2">Concepto</th>
                <th class="col-3" colspan="3">Si su anticipo fue en:</th>
            </tr>
            <tr>
                <th class="col-1">Pesos colombianos ($)</th>
                <th class="col-1">Dólares ($)</th>
                <th class="col-1">Euros (€)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" value="Transporte"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" value="Alimentación"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" value="Alojamiento (aprobado por compras)"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" value="Otros (detallar)"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
                <td><input type="number" class="form-control" placeholder="0"></td>
            </tr>
            <tr id="totals">
                <td colspan="4" class="text-end">Total de gastos:</td>
                <td><input id="total1" type="number" class="form-control" placeholder="0" readonly></td>
                <td><input id="total2" type="number" class="form-control" placeholder="0" readonly></td>
                <td><input id="total3" type="number" class="form-control" placeholder="0" readonly></td>
            </tr>
            <tr id="advance">
                <td colspan="4" class="text-end">Valor del anticipo:</td>
                <td><input id="advanceTotal1" type="number" class="form-control" placeholder="0"></td>
                <td><input id="advanceTotal2" type="number" class="form-control" placeholder="0"></td>
                <td><input id="advanceTotal3" type="number" class="form-control" placeholder="0"></td>
            </tr>
            <tr id="employeeBalance">
                <td colspan="4" class="text-end">Saldo a favor del empleado:</td>
                <td><input id="employeeBalance1" type="number" class="form-control" placeholder="0" readonly></td>
                <td><input id="employeeBalance2" type="number" class="form-control" placeholder="0" readonly></td>
                <td><input id="employeeBalance3" type="number" class="form-control" placeholder="0" readonly></td>
            </tr>
            <tr id="icesiBalance">
                <td colspan="4" class="text-end">Saldo a favor de ICESI:</td>
                <td><input id="icesiBalance1" type="number" class="form-control" placeholder="0" readonly></td>
                <td><input id="icesiBalance2" type="number" class="form-control" placeholder="0" readonly></td>
                <td><input id="icesiBalance3" type="number" class="form-control" placeholder="0" readonly></td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <button id="addRow" class="btn btn-primary me-2">
            <i class="bi bi-plus-lg"></i> Agregar fila
        </button>
        <button id="removeRow" class="btn btn-danger">
            <i class="bi bi-dash-lg"></i> Eliminar fila
        </button>
    </div>

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!-- Authorization -->

    <p class="text-center">
        <i>Autorizo que el saldo a favor de la Universidad Icesi, sea descontado en una sola cuota en el siguiente pago de nómina: <strong>Sí</strong></i>
    </p>

    {% include 'signblock.html' %}

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!-- Bank data -->

    {% include 'bankblock.html' %}

    <div class="my-2 mx-2 border-bottom border-3"></div>

    <!-- Observations -->

    <div class="mb-2 mt-3">
        <label class="h5"><strong>Observaciones</strong></label>
    </div>

    <div>
        <textarea class="form-control" rows="3"></textarea>
    </div>

    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mt-3" onclick="saveForm()">Guardar y enviar</button>
    </div>
</form>

<script src="../../static/forms/js/travel_expense_legalization.js"></script>

{% endblock %}