{% extends "base.html" %}

{% block title %}Crear Equipo{% endblock %}
{%block main_route %}Equipos{% endblock %}
{%block secondary_route %}Agregar Equipo{% endblock %}

{% block content %}

<form method="post">
    <div class="card-header">
        <h2>Crear Equipo</h2>
    </div>
    <div class="card-body card-fluid">
        {% csrf_token %}
        {{form.as_p}}
    </div>
    <div class="card-footer">        
        <div class="mt-4 mx-auto col-md-4 d-flex justify-content-center">
            <div>
                <a href="/teams" class="btn btn-danger mx-2">Cancelar <i class="fa fa-times"></i></a>
            </div>
            <div>
                <button type="submit" class="btn btn-primary mx-2">Guardar <i class="fa fa-user-plus"></i></button>
            </div>
        </div>
    </div>
</form>


{% load static %}
<script src="{% static 'teams/js/teams.js' %}"></script>

{% endblock %}
