{% extends "base.html" %}

{% block title %}
Teams
{% endblock %}

{% block content %}

{% csrf_token %}

<div class="container col-md-8">
    <div class="d-none d-sm-block container card">
        <div class="row p-4 font-weight-bold">
            <div class="col-4" style="font-weight:bold">
                Nombre
            </div>
            <div class="col-6" style="font-weight:bold">
                Descripción
            </div>
            <div class="col-2" style="font-weight:bold">
                Fecha de Creación
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        {% for team in teams %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ team.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ team.id }}" aria-expanded="true" aria-controls="collapse{{ team.id }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">                                
                                <h4>
                                    {{ team.name }}
                                </h4>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <span class="d-sm-none" style="font-weight:bold" >Description:</span>
                                {{team.description}}
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <span class="d-sm-none" style="font-weight:bold" >Creation Date:</span>
                                {{ team.created_at|date:"d-m-Y" }}
                            </div>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse{{ team.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ team.id }}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container col-md-8 mx-auto">
                        <div class="accordion-body">
                            <div class="container col-md-8 mx-auto">
                                <table class="table" id="team_{{ team.id }}_table">
                                    <thead>
                                        <th>Nombre</th>
                                        <th>Rol</th>
                                        <th>Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{team.leader.first_name}} {{team.leader.last_name}}
                                            </td>
                                            <td>
                                                Leader
                                            </td>
                                            <td>
                                                <button class="btn text-primary"
                                                    data-team-id="{{ team.id }}"
                                                    data-member-id="{{ member.id }}">Cambiar</button>
                                            </td>
                                        </tr>
                                        {% for member in team.members.all %}
                                        <tr id="member_row_{{ member.id }}">
                                            <td>
                                                {{member.first_name}} {{member.last_name}}
                                            </td>
                                            <td>
                                                Miembro
                                            </td>
                                            <td>
                                                <button class="btn text-danger delete-member"
                                                    data-team-id="{{ team.id }}"
                                                    data-member-id="{{ member.id }}">Eliminar</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <button  class="btn btn-primary ms-2 add-member-btn" data-bs-toggle="modal"
                                    data-bs-target="#addMemberModal" data-team-id="{{ team.id }}">
                                    Añadir miembro
                                    <i class="fa fa-user-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMemberModalLabel">Añadir miembro al equipo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="userList" class="list-group">
                        <!-- User list will be here -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" disabled="true" class="btn btn-primary" id="addMemberSubmit">Añadir <i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on('click', '#userList li', function () {
            $(this).toggleClass('active');
            var hasSelectedUser = $('#userList li.active').length > 0;
            $('#addMemberSubmit').prop('disabled', !hasSelectedUser);
        });
        $('#addMemberModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var teamId = button.data('team-id');
            var modal = $(this);
    
            $.get(`/teams/add-member/${teamId}`, function (data) {
                $("#userList").empty();
                data.forEach(function (user) {
                    $("#userList").append(`<li data-user-id="${user.id}" style="cursor:pointer" class="list-group-item">${user.first_name} ${user.last_name} (@${user.username})</li>`);
                });
            });
    
            modal.find('#addMemberSubmit').attr('data-team-id', teamId);
            var tableId = `#team_${teamId}_table`;
            modal.data('table-id', tableId);
        });
    
        $('#addMemberSubmit').on('click', function () {
            var teamId = $(this).data('team-id');
            var selectedUsers = [];
    
            $('#userList li.active').each(function () {
                selectedUsers.push($(this).data('user-id'));
            });
    
            var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
    
            $.post(`/teams/add-member/${teamId}`, { users: selectedUsers, csrfmiddlewaretoken: csrftoken }, function (response) {
                var tableId = $('#addMemberModal').data('table-id');
                var tableBody = $(`${tableId} tbody`);
    
                response.users.forEach(function (user) {
                    tableBody.append(
                        '<tr>' +
                        `<td> ${user.first_name} ${user.last_name} </td>` +
                        '<td>Member</td>' +
                        '<td><button class="btn text-danger delete-member" data-team-id="' + teamId + '" data-member-id="' + user.id + '">Delete</button></td>' +
                        '</tr>'
                    );
                });
    
                $('#userList li.active').removeClass('active');
                $('#addMemberModal').modal('hide');
            });
        });
        $(".delete-member").click(function () {
            if (!confirm("Are you sure you want to delete this member?")) return false;
            var teamId = $(this).data("team-id");
            var memberId = $(this).data("member-id");
            $.ajax({
                url: "/teams/delete-member/" + teamId + "/" + memberId,
                type: "GET",
                success: function (response) {
                    $("#member_row_" + memberId).remove();
                },
                error: function () {
                    alert("Error deleting member");
                }
            });
        });
    });
</script>

{% endblock %}
