{% extends "auth-base.html" %}
{% block title %}Registro{% endblock %}
{% load static %}

{% block content %}
    {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="card border-0 px-2 mx-auto mt-3 mb-3 shadow"
        style="background-color: #f6f7f8">
        <div class="mx-auto mb-3">
            <img src="{% static 'login/assets/logo.png' %}"
                alt="Logo"
                class="img-fluid"
                width="350px"
                height="50px">
        </div>
        <span class="container mb-3 mt-3 text-center">
            <h4 class="mt-2">Registro 📋</h4>
            Completa todos los campos para continuar.
        </span>
        <div class="container">
            <form action="/registration/" method="POST">
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col">
                        <span class="input-identifier">NOMBRE</span>
                        <input type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            value="{{ user_data.nombre }}"
                            required>
                    </div>
                    <div class="col">
                        <span class="input-identifier">APELLIDO</span>
                        <input type="text"
                            class="form-control"
                            id="apellido"
                            name="apellido"
                            value="{{ user_data.apellido }}"
                            required>
                    </div>
                </div>
                <div class="mb-2">
                    <span class="input-identifier">CÉDULA</span>
                    <input type="text"
                        class="form-control"
                        id="cedula"
                        name="cedula"
                        value="{{ user_data.cedula }}"
                        required>
                </div>
                <div class="mb-2">
                    <span class="input-identifier">CORREO</span>
                    <input type="text"
                        class="form-control"
                        id="correo"
                        name="correo"
                        value="{{ user_data.correo }}"
                        required>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="input-identifier">CONTRASEÑA</span>
                        <input type="password"
                            class="form-control"
                            id="contrasena"
                            name="contrasena"
                            required>
                    </div>
                    <div class="col">
                        <span class="input-identifier">CONFIRMAR CONTRASEÑA</span>
                        <input type="password"
                            class="form-control"
                            id="confirmar_contrasena"
                            name="confirmar_contrasena"
                            required>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </form>
            <div class="text-center py-4 d-flex justify-content-center">
                <a href="{% url 'login:login_view' %}"
                class="mx-auto text-primary text-decoration-underline mt-2">¿Ya tienes una cuenta? Inicia sesión</a>
            </div>
        </div>
    </div>
{% endblock %}
