<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-left: 0; padding-right: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">
                    <!-- Modal title will be here -->
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent" style="max-height: 85vh; overflow-y: scroll;">
                <div  >
                    <!-- Request details will be here -->
                </div>
            </div>
        </div>
    </div>
</div>