<li class="sidebar-item p-1 mb-1 mx-2">
    <a href="#" class="sidebar-link collapsed has-dropdown nav-link btn-navigation btn btn-primary d-flex justify-content-between align-items-center text-white" data-bs-toggle="collapse"
        data-bs-target="#forms" aria-expanded="false" aria-controls="forms">
        <i class="{{ icon_class }}" style="margin-right:10px"></i>
        {{ text }}
        <i class="fas fa-chevron-right" style="margin-left:10px"></i>
    </a>
    <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item p-1 mb-1 mt-2">
            <a href="/forms/travel_advance_request" class="d-flex sidebar-link btn btn-primary w-100" style="margin-right:10px">Solicitud viaje</a>
        </li>
        <li class="sidebar-item p-1 mt-1">
            <a href="/forms/travel_expense_legalization" class="d-flex sidebar-link btn btn-primary w-100" style="margin-right:10px">Legalización viaje</a>
        </li>
        <li class="sidebar-item p-1 mt-1">
            <a href="/forms/advance_legalization" class="d-flex sidebar-link btn btn-primary w-100" style="margin-right:10px">Legalización anti.</a>
        </li>
        <li class="sidebar-item p-1 mt-1">
            <a href="/forms/billing_account" class="d-flex sidebar-link btn btn-primary w-100" style="margin-right:10px">Cuenta de cobro</a>
        </li>
        <li class="sidebar-item p-1 mt-1">
            <a href="/forms/requisition" class="d-flex sidebar-link btn btn-primary w-100" style="margin-right:10px">Requisición</a>
        </li>
    </ul>
</li>