{% extends "base.html" %}
{% block title %}Notificationes{% endblock %}
{%block main_route %}Notificaciones{% endblock %}
{%block secondary_route %}Tus Notificaciones{% endblock %}

{% block content %}
<div class="card-header p-0"></div>
<div class="card-footer p-0"></div>
<div class="nav-align-top mb-4 card-fluid">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                data-bs-target="#navs-status-notifications" aria-controls="navs-status-notifications"
                aria-selected="true">
                <i class='bx bxs-color'></i><span class="d-none d-sm-block"> Cambios de Estado</span>
                <!-- <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span> -->
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                data-bs-target="#navs-date-notifications" aria-controls="navs-date-notifications" aria-selected="false">
                <i class='bx bxs-calendar-edit'></i><span class="d-none d-sm-block"> Cambios de Fecha</span>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                data-bs-target="#navs-assign-notifications" aria-controls="navs-assign-notifications"
                aria-selected="false">
                <i class='bx bxs-user-plus'></i><span class="d-none d-sm-block"> Asignación de Solicitudes</span>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                data-bs-target="#navs-fill-notifications" aria-controls="navs-fill-notifications" aria-selected="false">
                <i class='bx bxs-file'></i><span class="d-none d-sm-block">Revisión de Formularios</span>
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-status-notifications" role="tabpanel">
            <ul class="list-group">
                {% for notification in status_notifications %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Solicitud {{notification.request_id}}</h5>
                        </div>
                        <div class="col-md-4 btn text-lg" >
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-{{notification.prev_color}}">
                                    <p class="text-wrap mb-0 lh-sm">{{ notification.prev_state }}</p>
                                </div>
                                <i class='bx bx-right-arrow-circle display-6 text-secondary mx-2'></i>
                                <div class="badge bg-label-{{notification.new_color}}">
                                    <p class="text-wrap mb-0 lh-sm">{{ notification.new_state }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <span><strong>Motivo:</strong></span>
                                {% if notification.reason %}
                                {{notification.reason}}
                                {% else %}
                                Sin motivo
                                {% endif %}
                                <br>
                                {% if notification.affected_fields %}
                                <span><strong>Campos afectados:</strong></span>
                                {{notification.affected_fields}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-md-3 float-right">
                            {% include 'components/avatar.html' with icon="bx bxs-user-circle" description="Modificador por:" username=notification.modified_by date=notification.date %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="tab-pane fade" id="navs-date-notifications" role="tabpanel">
            <ul class="list-group">
                {% for notification in date_notifications %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Solicitud {{notification.request_id}}</h5>
                        </div>
                        <div class="col-md-4 btn text-lg" >
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-secondary">
                                    <p class="text-wrap mb-0 lh-sm">{{ notification.prev_date }}</p>
                                </div>
                                <i class='bx bx-right-arrow-circle display-6 text-secondary mx-2'></i>
                                <div class="badge bg-label-secondary">
                                    <p class="text-wrap mb-0 lh-sm">{{ notification.new_date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 float-right">
                            {% include 'components/avatar.html' with icon="bx bxs-user-circle" description="Modificador por:" username=notification.modified_by%}
                        </div>
                        <div class="col-md-2">
                            {% include 'components/date.html' with date=notification.date %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="navs-assign-notifications" role="tabpanel">
            <ul class="list-group">
                {% for notification in assign_notifications %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Solicitud {{notification.request_id}}</h5>
                        </div>
                        <div class="col-md-4 text-lg" >
                            {% include 'components/avatar.html' with icon="bx bxs-user-circle" description="Asignado a:" username=notification.user_target %}
                        </div>
                        <div class="col-md-4 float-right">
                            {% include 'components/avatar.html' with icon="bx bxs-user-circle" description="Asignado por:" username=notification.modified_by %}
                        </div>
                        <div class="col-md-2">
                            {% include 'components/date.html' with date=notification.date %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="navs-fill-notifications" role="tabpanel">
            <ul class="list-group">
                {% for notification in fill_notifications %}
                <li class="list-group-item">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3">
                            <h5 class="my-2">Solicitud {{notification.request_id}}</h5>
                            {{notification.form_type}}
                        </div>
                        <div class="col-md-4 float-right">
                            {% include 'components/avatar.html' with icon="bx bxs-user-circle" description="Revisado por:" username=notification.modified_by %}
                        </div>
                        <div class="col-md-3 text-lg" >
                            <a class="btn btn-sm my-2 btn-secondary p" href="{{notification.pdf_link}}" target="_blank">
                                <i class='bx bxs-file-pdf mr-2 text-lg'></i>Ver Documento
                            </a>
                        </div>
                        <div class="col-md-2">
                            {% include 'components/date.html' with date=notification.date %}
                        </div>
                    </div>
                    <p></p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% load static %}
{% endblock %}