<select id="newStatusSelect" class="form-control">
    {% for status in status_options %}
        <option value="{{status}}" {% if status == request.status %}selected{%endif%} >{{status}}</option>
    {% endfor %}
</select>

<textarea id="reasonTextarea" class="form-control mt-3" placeholder="Motivo:" rows="5"></textarea>

<button onclick="changeStatus('{{request.id}}')" type="button" class="btn btn-primary my-4" id="changeStatusBtn">Guardar</button>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    .swal2-container {
        z-index: 2000 !important;
    }
</style>