{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{%block main_route %}Formularios{% endblock %}
{%block secondary_route %}Legalización de anticipos{% endblock %}

{% block content %}

<form action="/forms/advance_legalization" method="POST">
    {{ form.csrf_token }}
    <div class="card-header">
        <h2 class="mb-4">Legalización de anticipos</h2>
    </div>

    <div class="card-body card-fluid">
        <!-- Announcement -->
        <p class="font-italic">
            <strong>Por favor tenga en cuenta lo
            siguiente:</strong>
        </p>
        <ol>
            <li>Este formato se debe tramitar por ventanilla única, adjuntando los soportes</li>
            <li>Utilice este formato para legalizar un anticipo (diferente de viajes) Se debe relacionar todos los gastos</li>
            <li>
                Cuando se legaliza y queda saldo a favor del colaborador, se debe tramitar el pago en ventanilla única, por el valor del saldo a favor del empleado.
            </li>
            <li>
                Todos los soportes de legalización deben venir a nombre de la Universidad Icesi Nit. 890.316.745-5. Documento sin este requisito, será rechazado en la legalización.
            </li>
            <li>Si el saldo es a favor de ICESI, se debe regresar el dinero en la caja de la Universidad.</li>
            <li>
                Los soportes físicos se debe escanear para adjuntar a este formato y deben cumplir los todos los requisitos de ley y que sean legibles.
            </li>
            <li>Si el soporte de pago es una factura Pos, debe solicitar a la empresa la factura electrónica.</li>
            <li>Puede incluir más casillas para relacionar todos los gastos.</li>
            <li>Este formato se debe pasar a PDF para él envió a la oficina de contabilidad</li>
            <li>Formato de uso interno</li>
        </ol>
        <div class="my-2 mx-2 border-bottom border-3"></div>
        <!-- User data -->
            {% include 'formBlocks/idblock.html' %}
            <div class="form-group">
                <label for="purchaseReason">Motivo de compra o servicio</label>
                <textarea class="form-control"
                            id="purchaseReason"
                            name="purchaseReason"
                            rows="3"></textarea>
            </div>
            <div class="my-2 mx-2 border-bottom border-3"></div>
            <!--Spend data-->
            <div class="mb-2 mt-3">
                <label class="h5">
                    <strong>Relación de gastos</strong>
                </label>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-2">Nombre del tercero de la factura</th>
                            <th class="col-2">Identificación del tercero de la factura</th>
                            <th class="col-2">Valor ($)</th>
                            <th class="col-6">Concepto de la compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" name="category_0"></td>
                            <td><input type="text" class="form-control" name="provider_0"></td>
                            <td><input type="number" class="form-control" placeholder="0" name="pesos_0" min="0"></td>
                            <td><input type="text" class="form-control" name="concept_0"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="category_1"></td>
                            <td><input type="text" class="form-control" name="provider_1"></td>
                            <td><input type="number" class="form-control" placeholder="0" name="pesos_1" min="0"></td>
                            <td><input type="text" class="form-control" name="concept_1"></td>
                        </tr>
                        <tr id="totals">
                            <td colspan="2" class="text-end">Total de gastos:</td>
                            <td><input id="total" name="total" type="number" class="form-control" placeholder="0" readonly></td>
                        </tr>
                        <tr id="advance">
                            <td colspan="2" class="text-end">Valor del anticipo:</td>
                            <td><input id="advanceTotal" name="advanceTotal" type="number" class="form-control" placeholder="0" min="0"></td>
                        </tr>
                        <tr id="employeeBalance">
                            <td colspan="2" class="text-end">Saldo a favor del empleado:</td>
                            <td><input id="employeeBalanceValue" name="employeeBalanceValue" type="number" class="form-control" placeholder="0" readonly></td>
                        </tr>
                        <tr id="icesiBalance">
                            <td colspan="2" class="text-end">Saldo a favor de ICESI:</td>
                            <td><input id="icesiBalanceValue" name="icesiBalanceValue" type="number" class="form-control" placeholder="0" readonly></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" id="addRow" class="btn btn-primary mx-2 my-4">
                    <i class="bi bi-plus-lg mr-2"></i> Agregar fila
                </button>
                <button type="button" id="removeRow" class="btn btn-danger mx-2 my-4">
                    <i class="bi bi-dash-lg mr-2"></i> Eliminar fila
                </button>
            </div>
            <div class="my-2 mx-2 border-bottom border-3"></div>
            <!-- Authorization -->
            {% include 'formBlocks/signblock.html' %}
            <div class="my-2 mx-2 border-bottom border-3"></div>
            <!-- Bank data -->
            {% include 'formBlocks/bankblock.html' %}
            <div class="my-2 mx-2 border-bottom border-3"></div>
            <!-- Observations -->
            <div class="mb-2 mt-3">
                <label for="observations" class="h5">
                    <strong>Observaciones</strong>
                </label>
            </div>
            <div>
                <textarea class="form-control" id="observations" name="observations" rows="3">{{ form_data.observations }}</textarea>
            </div>
    </div>

        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mt-3" type="submit">
                    <i class="fa fa-save mr-2"></i> Guardar y enviar
                </button>
            </div>
        </div>
    </form>

<script src="../../static/forms/js/advance_legalization.js"></script>
{% endblock %}
